* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  /* 
  background-color: #000; */
  color: #fff;

  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  align-content: flex-start;

  padding: 0 100px;
  gap: 10px;
}

/* nav */
.nav {
  width: 100%;
  height: 70px;

  border: 1px solid;

  grid-area: nav;
  background-color: rgb(207, 207, 207);
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.login button {
  background-color: transparent;
  /* border: none; */
  padding: 10px 15px;
  border-radius: 5px;
}

.btn-login {
  border: 2px solid white;
  transition: 0.4s;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #fff;
  color: #000;
}

.btn-register {
  border: none;
  transition: 0.4s;
}

.btn-register:hover {
  background-color: rgb(0, 0, 0);
  color: #fff;
}
/* Finaliza Nav */

.main {
  width: 100%;
  /* height: 1200px; */

  grid-area: main;

  display: grid;
  grid-template-areas:
    "subs"
    "marca"
    "testi"
    "info"
    "mas-info";
  gap: 10px;
}

/* Subs */
.subs {
  width: 100%;
  height: 400px;
  grid-area: subs;

  border: 1px solid;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  background-color: rgb(155, 155, 155);
}

.subs-item-1,
.subs-item-2 {
  width: 30%;
  height: 90%;

  border: 1px solid;
}

.subs-item-1 {
  background: url(https://images.unsplash.com/photo-1638913659248-776908ed6eae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)
    center no-repeat;
  background-size: cover;
}

.subs-item-2 {
  padding: 80px;
}

.subs-item-2 p {
  font-size: 2rem;
  text-align: justify;

  color: #000;
}
.form {
  margin-top: 10px;
}

.form .email {
  width: 50%;
  height: 30px;
}

.form .submit {
  width: 40%;
  height: 30px;
}

/* Marca  */

.marca {
  width: 100%;
  height: 200px;
  grid-area: marca;

  border: 1px solid;
  background-color: green;
  border-radius: 10px;

  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: 150px;

  justify-content: space-around;
  align-content: center;
}

.marca img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* Finaliza Marca */

/* testimonios */
.testimonios {
  width: 100%;
  height: auto;

  grid-area: testi;

  border: 1px solid;
  background-color: rgb(128, 124, 0);
  border-radius: 10px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
}

.testi-item img {
  width: 100%;
  height: 80%;

  object-fit: contain;
}

.testi-item p {
  text-align: center;
  color: #000;
}

/* finaliza testimonios */

/* info */
.info {
  width: 100%;
  height: 300px;

  grid-area: info;

  border: 1px solid;
  border-radius: 10px;

  display: grid;
  grid-template-areas:
    "info-item-1 info-item-3"
    "info-item-2 info-item-3";
  gap: 10px;
}

.info-item-1 {
  grid-area: info-item-1;
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
}

.info-item-2 {
  grid-area: info-item-2;
  background-color: rgb(142, 141, 141);
  border-radius: 10px;
}
.info-item-1,
.info-item-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-item-1 p,
.info-item-2 p {
  color: #000;
}

.info-item-3 {
  grid-area: info-item-3;
  border-radius: 10px;
}
.info-item-3 img {
  width: 100%;
  height: 300px;

  object-fit: cover;
}

/* finaliza info */

.mas-info {
  width: 100%;
  height: 300px;

  grid-area: mas-info;

  border: 1px solid;
  background-color: rgb(199, 5, 5);
  border-radius: 10px;
}

.footer {
  width: 100%;
  height: 100px;

  grid-area: footer;

  border: 1px solid;
  background-color: rgb(199, 5, 89);
  border-radius: 10px;
}
