body {
  width: 100%;
  height: 100%;
  background-color: #add7f6;
}

header {
  width: 90%;
  height: 160px;

  background-color: #fff;
  margin: 0 auto;

  text-align: center;
}

#logo {
  width: 50px;
  height: auto;
}

/* Ultimo Visto en clase 26/04/2022 */
